disable_mlock = true

worker {
    public_addr         = "__replace_public_addr" # Annoyingly, the way EC2 instances are setup seems to prevent go-sockaddr from seeing the public IP properly, so we have to do a replace in the user data.
    name                = "__replace_name"
    initial_upstreams   = ["boundary-ui.service.consul"]
}

listener "tcp" {
	purpose = "proxy"
    address = "__replace_private_addr:9202"
}

kms "awskms" {
    purpose     = "worker-auth"
    kms_key_id  = "{{ v_boundary_aws_workerauth_kms_key_id }}"
}